<html>
    <head>
        <title>2D Sandbox</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        
        <script src="bin/vue.js"></script>
        <script src="bin/phaser.js"></script> 

        <script src="js/app.js"></script>

        <script src="js/lang/reserved.js"></script>
        <script src="js/lang/executioncontext.js"></script>
        <script src="js/lang/lexer.js"></script>
        <script src="js/lang/parser.js"></script>
        <script src="js/lang/contexthandler.js"></script>
        <script src="js/lang/interpreter.js"></script>

        <script src="js/sandbox/utils.js"></script>
        <script src="js/sandbox/tile.js"></script>
        <script src="js/sandbox/prototype.js"></script>
        <script src="js/sandbox/world.js"></script>
        <script src="js/sandbox/game.js"></script>
    </head>

    <body>
        <!-- <h1 class="projectheader">Sandbox programming toy</h1> -->
        <div class="game" id="app">
            <div class="banner">
                <div class="tools">
                    <b>Tools: </b>
                    <button
                        :disabled="currentTool === 'select'"
                        v-on:click="currentTool = 'select'"
                        title = "Select Tool"
                    >
                        <svg class="icon icon-large">
                            <use xlink:href="css/symbols.svg#fa-mouse-pointer"></use>
                        </svg>
                    </button>

                    <button
                        :disabled="currentTool === 'create'"
                        v-on:click="currentTool = 'create'"
                        title = " Create Tool"
                    >
                        <svg class="icon icon-large">
                            <use xlink:href="css/symbols.svg#fa-pencil-alt"></use>
                        </svg>
                    </button>
                </div> 
                <div class = "playcontrol">        
                    <div>
                        <button
                            v-on:click="goAll()"
                            title = "Run all tiles"
                            >
                            <svg class="icon icon-large">
                                    <use xlink:href="css/symbols.svg#fa-play"></use>
                            </svg>
                        </button>  
                        <button
                            v-on:click="stopAll()"
                            title = "Stop all tiles">
                            <svg class="icon icon-large">
                                    <use xlink:href="css/symbols.svg#fa-stop"></use>
                            </svg>
                        </button>
                    </div>              
                    <div>
                        <input type="range" min="0.1" max="2" step="0.1" v-model="gameSpeed"></input>  
                        <br>
                        <b>Game Speed: {{gameSpeed}}</b>
                    </div>           
                </div> 
                <div class = "savemenu">
                        <button v-on:click="resetGame()" title = "New Project">
                            <svg class="icon">
                                <use xlink:href="css/symbols.svg#fa-file"></use>
                            </svg>
                        </button>
                        <button v-on:click="exportGame()" title = "Export Project">
                            <svg class="icon">
                                <use xlink:href="css/symbols.svg#fa-download"></use>
                            </svg>
                        </button>
                        <button v-on:click="uploadFile()" title = "Import Project">
                            <svg class = "icon">
                                <use xlink:href="css/symbols.svg#fa-upload"></use>
                            </svg>
                        </button>
                        <input type= "file" accept=".json" size = "1" id = "fileImport" style= "display:none" @change = "importGame()"/></input>
                    </div>             
            </div>
            <div class="columns">
                <div class="panel">
                                                                 
                    <b>Tile Prototypes</b>
                    <select 
                        class = "tileselect"
                        size="10"
                        v-model="currentPrototype"
                    >
                        <option v-for="(type, name) of prototypes">{{name}}</option>
                    </select>
                    <button
                        v-on:click ="editPrototype()"
                    >Edit Prototype</button>
                    <button
                        :disabled="this.currentPrototype === 'BasicTile' ||
                                    editPrototypeMode" 
                        v-on:click="deletePrototype()"                       
                    >Delete Prototype</button>
                </div>

                <!-- The actual Phaser element -->
                <div 
                    v-on:mouseover="mouseInGame = true" 
                    v-on:mouseleave="mouseInGame = false" 
                    id="sandbox"
                ></div>
                
                <div class ="fillpanel">
                    <div class="codepanel" v-if="currentContext !== null">
                        <h1 v-if="editPrototypeMode">Editing {{currentPrototype}} prototype</h1>
                        <h1 v-else>{{currentTile.prototype.type}}</h1>
                        <b>Events</b>
                        <select class="eventSelect" v-model="currentEventName">
                            <option v-for="event in currentContext.getEventList()">{{event}}</option>
                        </select>
                        <template v-if="!showProperties">
                            <button v-on:click="showProperties = true">Show Properties</button>    
                            <textarea 
                                class="code-entry" 
                                v-model="currentContext.events[currentEventName].code"
                                v-on:keydown.tab.prevent="insertTab($event)"
                            ></textarea>
                            <button v-if ="!editPrototypeMode" v-on:click="go()">Try it out</button>
                        </template>

                        <template v-if="showProperties">
                                <button v-on:click="showProperties = false">Show Code</button>                            
                                <div class="new-property-input">
                                    <input v-model="newPropertyName">
                                    <button v-on:click="addProperty()">
                                        <svg class="icon">
                                            <use xlink:href="css/symbols.svg#fa-plus-square"></use>
                                        </svg>
                                        Add Property
                                    </button>
                                </div>
                                <div class="property-list" v-if="currentContext !== null">

                                    <div class="property"   
                                         v-if="currentTile !== null && !editPrototypeMode">
                                            <b>x: </b>
                                        <input 
                                            v-model="currentTile.x"
                                            type="number"
                                            step="1"
                                            >    
                                    </div> 
                                    <div class="property"   
                                    v-if="currentTile !== null && !editPrototypeMode">
                                       <b>y: </b>
                                   <input 
                                       v-model="currentTile.y"
                                       type="number"
                                       step="1"
                                       >    
                                    </div> 
                                    <div
                                        class="property" 
                                        v-for="(prop, name) in currentContext.props"
                                    >
                                        <div v-if="name==='image'" class = 'property-title'>
                                            <b>{{name}}:</b>
                                            <select v-if="name ==='image'" v-model = "prop.value">
                                                    <option v-for="option in utils.getSpriteMapping()">
                                                            {{option}}                
                                                    </option> 
                                            </select>
                                        </div>

                                        <div v-else class="property-title">
                                            <b>{{name}}:</b>                                     
                                            <select v-model="prop.type">
                                                <option :value="'boolean'">Boolean</option>
                                                <option :value="'numeric'">Number</option>
                                                <option :value="'string'">String</option>
                                            </select> 
                                            <template v-if= "name !== 'name' && name !=='solid' && name !=='depth'">
                                                <button class = "deletePropButton" v-on:click="deleteProperty(name)">
                                                    <svg class="icon">
                                                        <use xlink:href="css/symbols.svg#fa-trash"></use>
                                                    </svg>
                                                </button>
                                            </template>                                        
                                        </div>
                                        <template v-if="prop.type === 'boolean'">
                                            <input 
                                                v-model="prop.value"
                                                type="checkbox"
                                            >
                                        </template>
                                        <template v-else-if="prop.type === 'numeric'">
                                            <input
                                                v-model.number="prop.value"
                                                type="number"
                                                step="0.01"
                                            >
                                        </template>
                                        <template v-else-if="prop.type === 'string'">
                                            <input
                                                v-model="prop.value"
                                            >
                                        </template>
                                        <p class = "warning" v-if="currentTile !== null && name ==='name' && currentTile.invalidName">Duplicate name</p>                                                                      
                                    </div>
                                </div>                            
                        </template>
                            <button v-if = "editPrototypeMode" v-on:click="doneEdit()">
                                Done
                            </button>
                            <button v-if="editPrototypeMode" v-on:click ="applyPrototypeChanges()">
                                Apply to all
                            </button>

                            <button v-else v-on:click="savePrototype()">
                                <svg class="icon">
                                    <use xlink:href="css/symbols.svg#fa-save"></use>
                                </svg>
                                Save as new prototype
                            </button>
                    </div>
                </div>
            </div>
            <div v-if="devMode" class="debug">
                <template v-if="!showProperties && currentContext !== null">
                    <div class="buttons">
                        <button v-on:click="lex()">Lex</button>
                        <button v-on:click="parse()">Parse</button>
                        <button v-on:click="thread()">Thread</button>
                    </div>
                    <textarea v-model="devOutput" disabled></textarea>
                </template>
            </div>
        </div>

    </body>
</html>